{%extends "layout.html"%}
{%from "macros/fields.html" import render_text_field%}
{%from "macros/icons.html" import trashcan,pencil%}
{%block head_content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/edit.css')}}">
{%endblock%}
{%block main_content%}
<div class="title">
    <div class="title__details">
        <h1 class="title__heading">{{name}}</h1>
        <p>Duration: {{total_duration}} hour(s)</p>
    </div>
    <a class="heading__back" href="{{url_for('pages.index')}}">Back</a>
</div>

<form novalidate name="add__subject" class="form" method="post">
    {%with messages=get_flashed_messages(with_categories=true)%}
        {%-for category,message in messages-%}
            <div class="flashed__container">
            <span class="form__flash form__flash--{{category}}">{{message}}</span>
            </div>
        {%-endfor-%}
    {%endwith%}
    <div class="form__container">
        {{form.hidden_tag()}}
        {{render_text_field(form.name)}}
        {{render_text_field(form.duration)}}
        <div class="button">
            {{form.submit}}
            <a class="form__clear" href="{{url_for('pages.edit_timetable',_id=timetable_id)}}">Clear</a>
        </div>
    </div>
</form>
<div class="main__content">
    {%if subject_data%}
        <h2 class="heading">Subjects</h2>
        {%for subject in subject_data%}
            <div class="subject">
                <div class="subject__details">
                    <p class="subject__title subject__detail">{{subject.name}}</p>
                    <p class="subject__duration subject__detail">Duration: {{subject.duration}} hour(s)</p>
                </div>
                <div class="subject__options">
                    <a class="subject__delete" href="{{url_for('pages.delete_subject',timetable_id=timetable_id,subject_id=subject._id)}}">{{trashcan("subject__delete-image")}}</a>
                </div>
            </div>
        {%endfor%}
    {%else%}
        <p class="empty__message">
            You don't have any content yet.
        </p>
    {%endif%}
</div>
{%endblock%}