{%extends "layout.html"%}
{%from "macros/fields.html" import render_text_field%}
{%from "macros/icons.html" import trashcan,pencil%}

{%block head_content%}
     <link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>
{%endblock%}

{%block main_content%}
    <form novalidate name="add__timetable" class="form" method="post">
        <div class="form__container">
            {{form.hidden_tag()}}
            {{render_text_field(form.name)}}
            <div class="button">
                {{form.submit}}
                <a class="clear" href="{{url_for('pages.index')}}">Clear</a>
            </div>
        </div>
    </form>    
    <div class="main__content">
        {%if timetable_data%}
            <h2 class="heading">Timetables</h2>
            {%for timetable in timetable_data%}
                <div class="timetable">
                    <div class="timetable__details">
                        <p class="timetable__title timetable__detail">{{timetable.name}}</p>
                        <p class="timetable__duration timetable__detail">Total Duration: {{timetable.duration}} hour(s)</p>
                    </div>
                    <div class="timetable__options">
                        <a class="timetable__view  timetable__option" href="{{url_for('pages.view_timetable',_id=timetable._id)}}">View</a>
                        <a class="timetable__edit timetable__option" href="{{url_for('pages.edit_timetable',_id=timetable._id)}}">{{pencil("timetable__edit-image")}}</a>
                        <a class="timetable__delete timetable__option" href="{{url_for('pages.delete_timetable',_id=timetable._id)}}">{{trashcan("timetable__delete-image")}}</a>
                    </div>
                </div>
            {%endfor%}
        {%else%}
            <p class="empty__message">
                You haven't created any timetables yet.
            </p>
        {%endif%}
    </div>
{%endblock%}