.title{
    max-width:70rem;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2em;
}

.heading__back{
    text-decoration: none;
    color:black;
    background-color: var(--main-color);
    height:min-content;
    padding:0.5rem 1rem;
    border-radius:1rem;
    margin:auto 0;
}

.heading__back:hover{
    background-color: var(--modded-main);
}



.empty__message{
    text-align: center;
}

.main__content{
    max-width: 70rem;
    margin:auto;
    margin-top:2rem;
}

.heading{
    margin-bottom: 1.5rem;
}
.flashed__container{
    padding:0.5rem;
}
.form__flashed{
    margin:none;
}
.form{
    max-width: 70rem;
    border:none;
    background-color: #f6f6f6;
}
.button{
    display:flex;
    justify-content: space-between;
}

.form__clear{
    text-decoration: none;
    color:inherit;
    background-color: var(--danger-color);
    padding:0.2rem 1rem;
    border-radius: 1em;
}

.form__clear:hover{
    border:1px solid black;
}

#submit{
    background-color: var(--main-color);
    border:none;
    padding:0.2rem;
    border-radius:1em;

}

#submit:hover{
    border:1px solid black;
    cursor: pointer;
}


.subject{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:1em;
    padding-bottom:1em;
}

.subject__options{
    display:flex;
    flex-direction: row;
}

.subject__delete-image{
    height: 1.5em;
    width:1.5em;
    stroke:black;
}

.subject__delete-image:hover{
    stroke:var(--main-color);
}

.subject__details{
    display: flex;
    flex-direction: row;
}

.subject__detail:not(:first-of-type){
    margin-left:1em;
}

.subject__title{
    font-weight: 500;
    font-size: 1.1em;
}

.subject__duration{
    font-size: 1.05em;
}