:root{
    --accent-color : #f26204;
    --main-color: #528aae;
    --default-color:white;
    --mild-color:#f2f3f4;
    --danger-color:#c60000;
    --succes-color: #46e3b7;
    --secondary-color:#f2d400;
    --dark-main:#192a53;
    --button-add:#4f65f1;
    --button-hover:#122ee2;
    --modded-main:#64a8d4;
}


html{
    font-family: Lato,"Segoe UI", sans-serif;
}

*,*::after,*::before{
    box-sizing:inherit;
}

body{
    box-sizing: border-box;
    margin: 0px;
}

svg{
    display: block;
}

.header{
    background-color: var(--main-color);
    height: 4rem;
    padding: none;
    margin:none;
    width:100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    max-width:75rem;
    margin: auto;
    justify-content: space-between;
}
.navbar__title{
    height:4rem;
    display: flex;
    flex-direction: row;
    margin:auto 0.2rem;
    text-decoration: none;
    color:var(--default-color);
    fill:var(--default-color);
}

.navbar__title-logo{
    height:3em;
    width:3em;
    margin:4px;
    fill:inherit;
    display:flex;
    align-items: center;
    
}



.navbar__title-heading{
    font-size: 2em;
    color:inherit;
    max-width: fit-content; 
    display:inline-block;
}

.navbar__title:hover{
    color:var(--accent-color);
    fill:var(--accent-color);
}

.navbar__button{
    padding:1em;
    text-decoration: none;
    height: 100%;
    color:var(--default-color);
    display: inline-block;

}


.navbar__button:hover{
    color:var(--accent-color)
}

.link-active{
    background-color: var(--secondary-color);
}

@media screen and (max-width:500px){
    .header{
        height:4em;
    }

    .navbar__title{
        height:3em;
    }

    .navbar__title-logo{
        height:2em;
        width:2em;
        margin:4px;
        fill:inherit;
        display:flex;
        align-items: center;
    }

    .navbar__title-heading{
        font-size: 1em;
        color:inherit;
        height:fit-content;
        max-width: fit-content; 
        display:inline-block;
    }

    .navbar__title-heading-nav,.navbar__title-logo-nav{
        height:fit-content;
        margin:auto 0;
    }

    .nav{
        height:4em;
    }

    .navbar__button{
        padding:auto;
        text-decoration: none;
        height: 100%;
        color:var(--default-color);
        display: inline-block;
    }
    
    .navbar__button{
        padding:1em;
        text-decoration: none;
        height: 100%;
        color:var(--default-color);
        display: inline-block;
    
    }
}

.main{
    padding:3rem 1.5rem 2rem 1.5rem;
}



.footer {
    padding: 1rem 0;
    text-align: center;
    bottom: 0;
    left:0;
    right:0;
}

.footer__link{
    text-decoration:none;
    color:black;
}

.footer__link:hover{
    color:var(--main-color);
}

